[2017-04-16 22:53] andrewbranch opened #1 "Incompatible with bash-completion 1.3 (_init_completion: command not found)"
Hi!

First of all, thank you so much for making this! I've been subscribed to https://github.com/yarnpkg/yarn/issues/609 for a while now, so was super excited to see some progress.

After installing, when I type `yarn ` and press tab, I get the error `-bash: _init_completion: command not found`. From my quick research, `_init_completion` is provided by the bash-completion package starting in major

[2017-04-16 23:09] dsifford commented on #1
Hey @andrewbranch

Yeah, I forgot to mention that it requires bash 4. You are correct that mac ships with an extremely outdated version of bash.

What makes you nervous about doing that? Homebrew makes it pretty simple to do. I did it on my Macbook Pro and I was up and running in a matter of minutes.

Pretty sure all you need to do is...

[code]
Dead simple!

Anyway, I looked at the workaround tha

[2017-04-16 23:17] andrewbranch commented on #1
I guess I'm just afraid of change 😄

But in seriousness, I didn't even realize I was using an outdated version of bash, and I do quite a bit with my terminal daily, and this was literally the first thing I've ever run into that was incompatible with my version of bash. After like 7 seconds of reading about upgrading, I saw one comment out of 20 or so that said the upgrade broke npm for them, which

[2017-04-16 23:24] dsifford commented on #1
@andrewbranch Actually, I'm not postiive that just adding that workaround will work. I utilize more `bash-completions` functions than that little script, so it's hard to know.

Specifically, the functions that I use are...
- `compgen`
- `_count_args`
- `_filedir`
- `_get_comp_words_by_ref` (this one I believe works).

If I make a new branch with the changes, would you be willing to test on bash 3?

[2017-04-16 23:26] andrewbranch commented on #1
Yeah, totally!

[2017-04-16 23:39] dsifford commented on #1
@andrewbranch Are you able to try something real quick?

Looking closer at that workaround you posted, it should be equivalent to just replacing [this line](https://github.com/dsifford/yarn-completion/blob/master/yarn-completion.bash#L507) with the following:

[code]

Basically, it just jumps over it if it isn't available. `_init_completion` is basically just a convenience function to help deal wi

[2017-04-16 23:40] dsifford commented on #1
Alternative to above is just delete that line altogether.

[2017-04-16 23:42] andrewbranch commented on #1
🎉

<img width="750" alt="it works" src="https://cloud.githubusercontent.com/assets/3277153/25075195/a79dd0ac-22c3-11e7-8222-d11d385ae814.png">

[2017-04-16 23:46] dsifford commented on #1
Great! Thanks again for the help!

Pushing the fix now 😄

[2017-04-16 23:48] #1 closed

[2017-04-18 11:55] chiptus opened #2 "make a yarn package"
add the ability to run ```yarn add yarn-completion``` to run this script

[2017-04-18 12:50] wavded opened #3 "head: illegal line count"
Thanks for working on this.  I noticed an issue when typing the following:

[code]

I get:

[code]

Running MacOS Sierra, Bash 4.4.12, grep (BSD grep) 2.5.1-FreeBSD

[2017-04-18 13:23] wavded commented on #3
Turns out this was an issue in BSD `head` program.  If I overwrite with the GNU `head`, it works great.

Had to do the following:

[code]

And then add the following to my `bash_profile`:

[code]

BSD `head` did not support negative line numbers found in this command:

[code]

[2017-04-18 13:23] dsifford commented on #3
@wavded hmm... I think I have an idea what the issue might be.

Can you confirm that the package.json in the directory that have you the error is missing either `dependencies` or `devDependencies`?

[2017-04-18 13:27] dsifford commented on #3
Aha... Very strange! Thanks for the report. I'll see if I can change out that line to something that's a bit more cross-compatible later on when I get some free time. 👌

[2017-04-18 13:37] dsifford commented on #2
@chiptus Just confirming: Are you requesting that this be published to the npm registry so that you can install using `yarn add ...`?

If so, although I can certainly do that, running `yarn add yarn-completion` won't add the file to the correct location.

I can perhaps make a package.json script to install the file to the right place however. But having said that, there are a few different ways yo

[2017-04-19 21:11] dsifford commented on #3
@wavded FYI, just got around to checking this. The issue is because I assume that all `package.json` files contain both `dependencies` and `devDependencies`. If a user queries `upgrade` or `remove` in a directory that contains a package.json without both of these fields, it'll throw that exception.

Once I fix this, it should work with BSD `head` and `tail`. 👍 👍

[2017-04-20 02:38] dsifford commented on #3
Just kidding. You were totally right. `v1.0.2` should cover this issue completely. Thanks for the report.

[2017-04-20 02:38] #3 closed

[2017-04-20 20:06] dsifford commented on #2
@chiptus Updated the readme with two-step install instructions.

Closing this since I haven't heard back. Feel free to reopen if this doesn't work for you. 👍

[2017-04-20 20:06] #2 closed

[2017-04-21 11:14] andreyslyusar opened #4 "command not found: _init_completion; command not found: _get_comp_words_by_ref"
I have next error using yarn completion (zsh as shell).

[code]

[code]

[2017-04-21 15:45] dsifford commented on #4
@andreyslyusar Thanks for the report!

Do you mind sharing your `.zshrc` file so I can take a peek at it?

[2017-05-04 19:59] #4 closed

[2017-05-04 20:01] dsifford commented on #4
@andreyslyusar `v0.2.1` should fix the problem. There's a couple of things you need to add to your `~/.zshrc` for it to work properly. Check the readme for those details.

[2017-05-22 21:48] elyscape opened #7 "`yarn why` includes a leading slash and also `.bin`"
If I type `yarn why` and then try to tab complete, it gives me a list that looks like this:
[code]
There are two problems with this. The first is that each item has a leading slash. This is because I am running on macOS, which uses BSD find, which includes the search path verbatim in the results. Running [the find command][find] used in the script yields these results:
[code]
This can be easily fi

[2017-05-22 23:28] dsifford commented on #7
@elyscape Thanks for such an awesome issue report! Seriously, kudos! 🙌

I'm using GNU utils, as I think you've probably guessed, so that's probably why this one fell through the cracks.

I'll get a fix out shortly 😄

[2017-05-22 23:45] #7 closed

[2017-05-23 00:40] elyscape commented on #7
@dsifford I should note that having `sort` in the pipeline isn't necessary. Bash will sort the completions you provide it. I only put it in my commands to ensure that the output on the command line matched the output from the tab completion.

[2017-06-05 13:20] andreyslyusar commented on #4
@dsifford Thanks a lot for help. Sorry for late response.

[2017-06-16 16:42] tnrich commented on #4
Hey there I'm getting a similar error but am on bash and not zsh:
`yarn run op-bash: _get_comp_words_by_ref: command not found`

[2017-06-16 17:54] dsifford commented on #4
@tnrich Which version of bash? Are you on mac OS? Do you have `bash-completion` installed?

Mac OS comes preinstalled with bash 3.x.x and they're stuck at that version because (if I recall correctly) bash 4 switched to a license that doesn't agree with Mac OS's license.

If you're on bash 3, that shouldn't be an issue if you have `bash-completion` installed.

If you have homebrew you can upgrade o

[2017-06-16 17:59] tnrich commented on #4
@dsifford I don't know if I have bash-completion installed. I didn't realize that was a pre-requisite. I am on a Mac and my bash version is: `3.2.57(1)-release`

[2017-06-16 18:14] dsifford commented on #4
@tnrich bash-completion shouldn't _technically_ be a prerequisite. You might just be using a version of bash that predates the `_get_comp_words_by_ref` function which has been added to bash proper in the later versions of bash 3.

I'll adjust the readme later on to reflect this.

[2017-06-16 18:35] tnrich commented on #4
Okay, thanks for the info!

On Fri, Jun 16, 2017 at 11:14 AM Derek Sifford <notifications@github.com>
wrote:

[2017-07-12 19:47] gustavo-momente commented on #4
@dsifford  I'm getting the same error using zsh and oh-my-zsh on Mac. Any ideas?

[2017-07-13 00:48] dsifford commented on #4
@andreyslyusar What version of zsh are you running?

Did you autoload and run `compinit` and `bashcompinit` prior to sourcing the completion file in your zshrc, like the readme suggests?

[2017-08-10 19:47] duro opened #8 "Getting error _yarn:82: command not found: _get_comp_words_by_ref in zsh"
Followed instructions for ZSH installation and any tab completion throws that error

[code]

[2017-08-10 20:24] dsifford commented on #8
@duro Can you try changing [these lines](https://github.com/dsifford/yarn-completion/blob/master/yarn-completion.bash#L543-L547) to the following and let me know if that works?

[code]

[2017-08-11 12:08] DomiR commented on #8
On sierra, that will fix the error for me. But it does not complete `yarn run scriptName` but will repeat 1-level arguments. e.g. `yarn run [run, cache, etc]`

[2017-08-11 16:57] dsifford commented on #8
Hmm... Might just have to maintain two separate versions of the completion script when time allows.

[2017-08-11 22:10] dsifford commented on #8
Nevermind. Looks like others beat me to the punch: https://github.com/zsh-users/zsh-completions/blob/master/src/_yarn

I'll update the readme shortly.

[2017-08-11 22:10] #8 closed

[2017-08-12 01:44] duro commented on #8
@dsifford Just heads up, those zsh-completions are giving me trouble as well (before you go all out recommending them). I filed an issue with them here: zsh-users/zsh-completions/issues/519

[2017-10-24 07:54] PaNaVTEC opened #9 "Does not automplete after colon"
If I have the following scrips in my package.json:

[code]

When I type `dev:s` and press tab does not autocomplete `dev:something`

[2017-10-24 16:53] dsifford commented on #9
What version do you have? That should have been fixed in `0.3.0` https://github.com/dsifford/yarn-completion/commit/99ec65d7cad1e97a0b933a3c4801e68c862df0d3

[2017-10-25 13:59] cdeutsch commented on #9
For me it ends up repeating.

[code]

Type `te`, tab, tab, tab

![image](https://user-images.githubusercontent.com/404765/32002580-7337cf62-b962-11e7-93cb-0c8b4e607d10.png)

Then `:`, tab

![image](https://user-images.githubusercontent.com/404765/32002667-9e196ca4-b962-11e7-9ad2-986d7db31169.png)

It appends `test` to the already completed `test:`

I'm using Version: 0.5.0, Yarn 1.1.0

[2017-10-25 23:36] dsifford commented on #9
@cdeutsch Might be an issue in an old version of bash. What version are you running?

I'm not able to reproduce the issue on my machine.

[![asciicast](https://asciinema.org/a/b5p2T0ekyszWwXkqCtegT3Tab.png)](https://asciinema.org/a/b5p2T0ekyszWwXkqCtegT3Tab)

[2017-10-26 15:38] cdeutsch commented on #9
That could be.

I'm using `3.2.57(1)-release` (macOS Sierra 10.12.6)

Adding this to my `.bash_profile` fixed it for me
[code]

[2017-10-26 16:43] dsifford commented on #9
@cdeutsch Good to know. Thanks for posting your solution.

**Also highly recommended:**

`$ brew install bash` (and then follow the prompts to set as your login shell, e.g. `$ chsh -s /path/to/bash4 yourusername`)

**Also unrelated but _highly, highly_ recommended:**

Replace those pesky BSD utils with their GNU counterparts: https://apple.stackexchange.com/a/69332

[2017-11-01 09:44] PaNaVTEC commented on #9
Same here, after adding `COMP_WORDBREAKS=${COMP_WORDBREAKS//:} ` seems to work.
[code]
I am using arch linux with bash 4.4.12

[2017-11-01 15:27] dsifford commented on #9
@PaNaVTEC Strange that you're having the issue on arch with bleeding edge bash. I'm also on arch linux most of the time and I do not have to add that...

Anyway, since this seems to be a common and recurring theme here, I'll probably just locally update `COMP_WORDBREAKS` during script execution and then revert it back before exiting so that this is fixed across the board.

I'll try to get to this

[2017-11-02 14:42] sechel commented on #9
Thanks for the workaround!

[2017-11-03 18:32] #9 closed

[2017-11-03 18:33] dsifford commented on #9
This should work now without having to adjust your system's globally set `COMP_WORDBREAKS` variable.

[2018-02-15 14:26] kachkaev commented on #9
I just installed yarn completion using `curl -L https://raw.githubusercontent.com/dsifford/yarn-completion/master/yarn-completion.bash > `brew --prefix`/etc/bash_completion.d/yarn` and unfortunately experienced this bug. Using standard macos bash terminal and the downloaded file is `v0.5.1`.

With `build` and `build:watch` scripts in `package.json`, here's what happens:

type `yarn bui` + hit tab

[2018-02-15 15:22] dsifford commented on #9
@kachkaev very strange that you still needed to set `COMP_WORDBREAKS` globally. Setting it locally _should_ overwrite the local value in the execution context, so no idea why that didn't happen in your case.

Thanks for the update.

[2018-02-15 15:25] kachkaev commented on #9
Can it be that it needs to be `export COMP_WORDBREAKS=...` instead of just `COMP_WORDBREAKS=...`?

[2018-02-15 15:45] dsifford commented on #9
That would definitely work, but I don't think that is something that should be done by a third party script since that change will leak across the entire OS and could potentially break something.

[2018-02-20 01:06] dsifford commented on #9
Hey @kachkaev I think I might know why you were having those strange issues.

What's the output when you enter `bind -v | grep skip` in your terminal?

[2018-02-20 13:13] kachkaev commented on #9
@dsifford it's empty 🤔

_macOS High Sierra 10.13.3 / bash_

[2018-02-20 15:33] dsifford commented on #9
Hm...

Not 100% sure here, but it's clear that you're still using bash 3 (which, at the time of writing, is 9 years outdated).

In Bash 4, along with a host of other niceties, the readline library provides a variable called `skip-completed-text` which, when tabbing though completions in the middle of a word, skips the text you've already typed.

The reason why Mac OS is stuck at Bash 3 is because

[2018-02-20 15:40] PaNaVTEC commented on #9
Hey @dsifford I'm using Archlinux as mentioned before in this issue, it ships with Bash 4.4 and I still have the same issue. Let me know if I can test anything for you

[code]

Output of `bind -v`:
[code]

[2018-02-20 15:42] dsifford commented on #9
Well, shoot. I have no idea then.

Are your dotfiles published online somewhere?

[2018-02-20 15:44] PaNaVTEC commented on #9
Sure, https://github.com/panavtec/dotfiles

[2018-02-20 15:46] dsifford commented on #9
Cool... I'll take a look a bit later.

This is kind of a hail mary, so no promises that I actually turn up with something.

[2018-02-20 16:05] kachkaev commented on #9
You're right! My `bash --version` on macOS was saying:

[code]

After `brew install bash` and opening a new terminal, I got:
[code]

Although I still don't see any output in `bind -v | grep skip`, autocompletion after `:` works!

[2018-02-20 16:18] dsifford commented on #9
@kachkaev Glad to hear.

Make sure you follow the instructions that homebrew prints out after installing (related to changing your login shell) so that the changes persist through logins/logouts.

Otherwise, you'll be back with bash 3 next time you log in.

[2018-02-20 16:26] kachkaev opened #10 "Breaks when there is }, in scripts"
Having `},` inside one of the scripts breaks autocompletion. MWE:

[code]

`yarn run hello` →tab `hello1  hello2  hello3  hello4  hello5` __(ok)__
`npm run hello` →tab `hello1  hello2  hello3  hello4  hello5` __(ok)__

---
[code]
`yarn run hello` →tab `hello1  hello2` __(broken)__
`npm run hello` →tab `hello1  hello2  hello3  hello4  hello5` __(still ok)__

---

A real-world script that broke yarn

[2018-02-20 17:08] dsifford commented on #10
Very likely.

The way the JSON is parsed out for script names is pretty archaic since the goal is to keep it portable across platforms.

Happy to take a PR on it if you feel like making the parsing with sed work better

[2018-02-20 17:20] kachkaev commented on #10
I'm pretty sure I won't be able to crack it in any reasonable time because my level in bash script editing in 0.01 out of 1 😅

Speaking of a a simple fix could a regexp that searches for the end of `"scripts"` be changed like so?

* we terminate if there is `}` and it is at the end of a line
* we terminate if there is `},` and it is either at the start or at the end of a line

This still won't be

[2018-02-23 21:38] #10 closed

[2018-02-23 21:39] dsifford commented on #10
@kachkaev This should be fixed now in `0.6.0`.

[2018-02-23 23:08] kachkaev commented on #10
Thanks for trying to fix this @dsifford! It could be that I've done something wrong, but after updating to 0.6.0 script detection broke completely. I still see it working as it was in the pre-update terminal tabs, but in all new tabs I get:

`yarn run` →tab `yarn run env`
`yarn` →tab _all standard yarn commands, no helloX commands_

`npm run` still shows `hello1 ... hello5` as it should and it's n

[2018-02-23 23:23] dsifford commented on #10
Not sure. I tried all the examples you provided when I made the change and it worked for me.

And actually, the change I made to the sed command made it even more POSIX compliant than the earlier one (the earlier one used extended regexp).

Did you try logging out completely and logging back in to make sure you weren't using a stale file or something?

[2018-02-23 23:24] dsifford commented on #10
I'll try in on my macbook here in the next hour or so and see if it's a mac quirk or something.

[2018-02-23 23:35] kachkaev commented on #10
Same behaviour even after a full reboot. Curious to know what your mac test tells you! Thanks a lot for looking into this problem 🚀

[2018-02-23 23:41] dsifford commented on #10
Thanks for checking.

Do you have a repo that has a non-parsable package.json file that I can clone when I test on my macbook? I want to be certain that I'm reproducing this correctly.

[2018-02-23 23:54] dsifford commented on #10
@kachkaev Cant reproduce on my macbook.

Tried it using the package.json in this repo and it worked just fine for me: https://github.com/callthemonline/client-nextjs

[2018-02-23 23:57] dsifford commented on #10
Also, I just tried it again using both GNU and BSD sed and it still worked for me.

I assume you have the default BSD sed installed on your system? Can you try installing GNU sed and see if that works?

[2018-02-24 00:03] dsifford commented on #10
@kachkaev what's the output when you enter `shopt -p | sort`?

[2018-02-24 08:15] kachkaev commented on #10
<img width="647" alt="screen shot 2018-02-24 at 07 54 27" src="https://user-images.githubusercontent.com/608862/36627429-778d68be-193a-11e8-86da-14e2229f1a53.png">

Downgrading to [0.5.1](https://github.com/dsifford/yarn-completion/commit/c40137136d8b803407f5f2fb99c1ae92af594b07) by running

[code]
returns `yarn-completion` to its old behaviour described in this issue (after Terminal is relaunched

[2018-02-24 18:34] dsifford commented on #10
@kachkaev I have no idea why this isn't working for you. I just matched all my shell options to the ones you have enabled and it still works perfectly fine on my end.

The only thing I can think of it might still be is that you're using BSD sed. If you can confirm that the issue is still persisting even using GNU sed, then I'm out of ideas and will have to unfortunately wait until more people repo

[2018-02-24 19:22] kachkaev commented on #10
Thanks for for your hint about GNU sed – turns out this is exactly what caused trouble! Originally, even after installing GNU bash, `man sed` was starting like:

<img width="724" alt="screen shot 2018-02-24 at 19 11 57" src="https://user-images.githubusercontent.com/608862/36634066-e56e5116-1996-11e8-9046-466365dfe6f8.png">

  

After I did `brew install gnu-sed --with-default-names` and restarted

[2018-02-24 19:39] dsifford commented on #10
Urrrrgh! BSD utils are going to be the death of me, I swear....

Glad to hear we've found the culprit. I'll try and get this compatible with BSD as soon as feasible. Thanks for your patience.

[2018-02-24 20:20] kachkaev commented on #10
Feel free to supplement README with my setup commands. I can easily imagine someone else getting into a similar trouble, so it’ll be great if we can save their time!

[2018-02-24 20:27] dsifford commented on #10
Open a PR with the edits and I'll be happy to merge

[2018-02-24 21:35] kachkaev opened #11 "File path autocompletion"
Hi again @dsifford 👋

I've noticed one more difference between npm completion and yarn completion and decided to share. It is to do with file paths. Here's the use case:

I've got a TypeScript / Node.js project, which stores a few data-processing actions. Folder structure looks like so:

[code]

Every file in `src/actions` is an entry point, which I could run just as  `node src/actions/do-this.js`

[2018-02-24 21:44] dsifford commented on #11
Agree.

I added `exec` yesterday actually. Wasn't sure what it was for so I didn't enable path expansion. All that would need to be done is enabling path expansion in the compgen call for exec.

[2018-02-24 21:47] dsifford commented on #11
Re-reading this now and I think I may have misinterpreted your question. Are you saying you'd want to add path expansion to _all_ custom scripts? Or just the new `exec` command?

If the former, what does npm do in that situation?

[2018-02-24 22:15] kachkaev commented on #11
Looks like npm does autocompletion in these cases:
* `npm s` → `npm src/` (but not just after `npm`)
* `npm XYZ s` → `npm XYZ src/` (but not just after `npm run`)
* `npm run XYZ [...XYZ]` – always

This behaviour makes sense to me and it looks reasonable for yarn completion too. I don't think we should do path autocompletion after `yarn exec` only – this is just an arbitrary script name.

[2018-02-25 02:47] dsifford commented on #10
Version `0.6.1` should work in BSD sed now.

[2018-02-26 14:26] kachkaev commented on #10
Thank you! 0.6.1 worked for me even after uninstalling `gnu-sed` 🎉

[2018-03-02 16:07] kachkaev commented on #11
BTW I had to update my custom scripts:

[code]

↓

[code]

It turned out that `exec` is some deprecated command in yarn, which causes glitches when I omit `run`. Typing `yarn run exec` while `yarn exec` was giving an error (because a special `yarn`'s command was called). Both `yarn run exe path/to/file.js` and `yarn exe path/to/file.js` work well and it'd be great to have path autocompletion in th

[2018-03-02 16:42] dsifford commented on #11
`exec` is actually a brand new command that hasn't been documented yet. It was just released (IIRC) on their last minor release.

Adding path completion is on my todo list. Haven't gotten around to it just yet because it'll take about an hour to get finished up. Hopefully gonna sit down and work on that and also the workspace(s) subcommands one of these next coming days.

[2018-03-03 18:44] benswinburne opened #13 "Add to homebrew"
It'd be nice to be able to install this using homebrew if possible.

[2018-03-03 20:39] dsifford commented on #13
I'll look into it when I get some extra time

[2018-03-03 20:43] benswinburne commented on #13
Nice one, thanks very much!

On 3 March 2018 at 15:39, Derek Sifford <notifications@github.com> wrote:

[2018-03-08 18:20] dsifford commented on #13
Doesn't appear like adding support for this would be allowed per the [homebrew guidelines](https://docs.brew.sh/Acceptable-Formulae).

@benswinburne If you'd really like to see this land in homebrew, perhaps consider reaching out to the maintainers of the yarn formula and see if they can add it as an optional dependency.

[2018-03-08 18:30] kachkaev commented on #13
@dsifford which particular rule in the guidelines do you find difficult to adhere? There are quite a few similar automcompletion formulae in homebrew already:

<img width="650" alt="screen shot 2018-03-08 at 18 28 39" src="https://user-images.githubusercontent.com/608862/37169042-af7f6628-22fe-11e8-996d-76db6a725b8b.png">

[2018-03-08 18:37] dsifford commented on #13
The rule stating that new formulae must have an accompanying website

[2018-03-08 20:11] dsifford commented on #13
@kachkaev I'll check out those formulae when I get some time. Technically, if I'm reading the guidelines correctly, those shouldn't be allowed to exist. But if they're letting those slide, I suppose they'd have to let this one slide too...

[2018-03-08 20:19] kachkaev commented on #13
👍

I'm quite sure they will accept your brew formulae @dsifford! Yarn is a very popular tool these days and your repo seems to be pretty much the only yarn autocompletion that exists! I wish you be the first who claims `yarn-completion` package name in Homebrew!

[2018-03-13 18:08] #11 closed

[2018-03-13 18:10] dsifford commented on #11
@kachkaev Give 0.7.0 a shot and let me know how that works for you

[2018-03-13 19:04] kachkaev commented on #11
Thank you for working on this update `0.7` – I'm really looking forward to using the new features!

It's probably something to do with macOS again, but after grabbing the new version and trying `yarn [tab]` in a new Terminal, I'm getting:

[code]

[2018-03-13 19:44] dsifford commented on #11
Urggggggh. I hate mac. :rage:

What version of bash completions do you have installed? I've found recently that the regular one in Homebrew is not the one people with updated versions of bash should be using..

Can you try installing instead `bash-completion@2` (the name might not be exactly that, but it'll turn up when you search for it)

The regular `bash-completion` is a waaaaaaaay outdated bra

[2018-03-13 20:04] kachkaev commented on #11
You're right, I had `bash-completion` instead of `bash-completion@2`!

<img width="584" alt="screen shot 2018-03-13 at 19 47 28" src="https://user-images.githubusercontent.com/608862/37366157-88c70b7e-26f7-11e8-969a-61340966526f.png">

After `brew uninstall bash-completion`, `brew install bash-completion@2` and updating `~/.bash_profile`, I started getting this in every new terminal:

<img width="

[2018-03-13 20:06] dsifford commented on #11
@kachkaev `declare -A` is a bash 4 option. All versions of bash 4 should support it.

So it looks like your login shell might not be bash 4?

[2018-03-13 20:21] kachkaev commented on #11
You are right, it was not. I had to open Terminal settings and set _Command_ to what I got in `which bash` (for Homebrew bash):

<img width="751" alt="screen shot 2018-03-13 at 20 17 02" src="https://user-images.githubusercontent.com/608862/37367557-9e7a12a0-26fb-11e8-8064-a60eada6221a.png">

All works now! 🎉 ❤️

[2018-03-13 20:26] dsifford commented on #11
Awesome, glad to hear.

For others who might also read this, you can also **ch**ange your login **sh**ell by typing `chsh` in the terminal itself.

[2018-03-13 21:16] kachkaev commented on #11
Strangely, `chsh` did not work for me. After changing `Shell: /bin/bash` with `Shell: /usr/local/bin/bash` (i.e. Homebrew's bash) and saving the file with `:wq`, I got the following error:

[code]

🤔

[2018-03-22 17:15] Nxt3 commented on #9
Not sure what I'm doing wrong, but this still isn't working for me. I installed it through Homebrew following the steps exactly. `bash --version` yields `GNU bash, version 4.4.19(1)-release (x86_64-apple-darwin16.7.0)`.

I've run `bind -v | grep skip` and that didn't fix it either.

Example of what I mean:

* `yarn lint:` (should have `:ts`, `:sass`, `:html` as valid options)
* `yarn lint:s` TAB
*

[2018-03-22 17:25] dsifford commented on #9
@Nxt3 Did you make sure to set bash 4 as your login shell?

`bash --version` might print 4.4.19 if bash is available in your `PATH`, but if it's not your login shell, the completions won't work.

[2018-03-22 18:02] Nxt3 commented on #9
Nope 🙃 Sorry for wasting your time.

[2018-03-22 18:10] dsifford commented on #9
Haha not a waste of time at all @Nxt3!

I only knew to suggest that because [I've been in your exact position](https://github.com/calid/bash/issues/1#issuecomment-182666162) in the past. 😊

Glad it's now working well for you!

[2018-03-22 19:19] Nxt3 commented on #9
@dsifford I think I spoke too soon. I've done a full reboot and it still isn't working. :|

[2018-03-22 19:28] dsifford commented on #9
Just the colon issue again or something else?

If just the colon issue, add `COMP_WORDBREAKS=${COMP_WORDBREAKS//:}` to your `.bash_profile` or `.bashrc` and give that a try

[2018-03-22 19:36] Nxt3 commented on #9
That's not working either. It's still just the colon issue.

[2018-03-22 19:40] dsifford commented on #9
what's the output of `echo "$COMP_WORDBREAKS"` in your terminal?

[2018-03-22 19:41] Nxt3 commented on #9
<img width="308" alt="screen shot 2018-03-22 at 3 41 30 pm" src="https://user-images.githubusercontent.com/2940826/37794305-84daa100-2de7-11e8-91ce-fc2a3ae28bcb.png">

[2018-03-22 19:48] dsifford commented on #9
Should work. No idea why it isn't to be honest.

Do you have a minimal package.json that I can try?

[2018-03-22 19:51] Nxt3 commented on #9
https://gist.github.com/Nxt3/e4a6f43833242b5405180518158191c6

[2018-03-22 19:54] dsifford commented on #9
Hm, that works fine for me on my macbook.

Assuming you have the latest version of the completions installed, correct.

Also, I don't think this is written in the README yet which is my fault, but you should be using the latest version of bash-completion from homebrew, which is `bash-completion@2` and **not** `bash-completion`.

Can you confirm those things?

[2018-03-22 20:49] Nxt3 commented on #9
I'll upgrade to `bash-completion@2` and let you know.

It's weird, because I have another script called `yarn start:dist` and suggestions on that one work. However, it is the only `yarn start:*` that is present--whereas the `lint` one has multiple--so maybe it has something to do with that.

[2018-03-23 13:44] Nxt3 commented on #9
@dsifford I've updated to `bash-completion@2` and it still isn't working.

[2018-03-23 16:26] dsifford commented on #9
Not sure what the issue could be then unfortunately. I'm running a MBP with high sierra and it works fine on my machine

[2018-03-23 19:02] Nxt3 commented on #9
Would the yarn version matter at all? Only thing I can think of.

[2018-04-03 23:48] joma74 opened #14 ""counter" and "cmd" must be set by the caller and be the appropriate type"
Currently any tab completion after `yarn` ends with this message and exit. Seems to me that a `declare cmd` does not make it in the check before the exit.
[code]

[2018-04-04 00:54] dsifford commented on #14
@joma74 Thanks for the report.

Am I reading your output correctly? I'm seeing you calling `__yarn_get_package_fields` directly? Is that correct?

If so, why do you need to do that?

[2018-04-04 07:42] joma74 commented on #14
Hey dsifford,
No, guess that belongs to the console output after the exit happened. My input ends after `yarn ` followed by a tab.

[2018-04-04 15:29] dsifford commented on #14
Hm..

I have no idea why you might be getting that error to be honest, because at no point ever could that particular error occur given that `counter` and `cmd` are set explicitly before the first and only call of `__yarn_get_command`. (https://github.com/dsifford/yarn-completion/blob/master/yarn-completion.bash#L745-L747)

Try to maybe comment out the [check lines](https://github.com/dsifford/yar

[2018-04-04 19:30] joma74 commented on #14
Yes, and it seems that `declare cmd` without a value assignment makes the check not pass.

This is the debug output i'd prefered to give in the first description. Forgot again that `set -x` applies local only. Input is ```yarn ``` followed by a tab. The console output following is due to the `set -x`.
[code]

[2018-04-04 21:32] dsifford commented on #14
Thanks for the trace.

What is the output of `declare -p BASH_VERSION` in the environment that this issue is occurring in?

[2018-04-04 21:44] joma74 commented on #14
Here it is
[code]

[2018-04-04 22:41] dsifford commented on #14
Super strange....

The issue is right here:

[code]

For whatever reason, the system you're on is either not registering `cmd` or not printing a `--` when the `declare -p` statement is invoked.

I can't fathom why this would be happening to you. I've been able to use this on several different linux distributions and osx high sierra with no problems.

Did you say that removing the check resolves th

[2018-04-05 01:00] joma74 commented on #14
Hm, happens also on an up-to-date Ubuntu 16.04, not the former vagrant VM, despite the same bash version and nearly same Ubuntu OS.

[code]

[2018-04-05 01:08] joma74 commented on #14
Could not find a definitive reference for this behaviour. Consider the following.
[code]
Workaround in the script of yours was `declare cmd=`

[2018-04-05 02:44] dsifford commented on #14
I've got no problem adding in the equal sign if that fixes your issue, but assuming you've now tested on different bash versions, I think you might have an issue somewhere in your bash init scripts that is screwing up how bash is supposed to fundamentally work.

According to the [GNU Bash manual](https://www.gnu.org/software/bash/manual/html_node/Bash-Builtins.html#Bash-Builtins) for the `declare`

[2018-04-05 06:02] joma74 commented on #14
Gathering, just another indication from my heroku box. 4.3.48(1)-release eeeeverywheeeere I go :smirk:
[code]

[2018-04-05 12:15] joma74 commented on #14
Gathering, just a first contraindication GNU bash, version 4.4.12(1)-release
[code]

[2018-04-05 16:13] dsifford commented on #14
Looks like you may have uncovered a bug in bash `4.3.48`.

Any chance you can update to `4.4.x` on your affected machine to confirm?

[2018-04-05 16:16] dsifford commented on #14
Looking over your comment thread on stackoverflow now and I think you hit the nail on the head with your comment..

I'll add in the equals sign since people on bash < 4.4 might run into this.

Nice detective work.

[2018-04-05 16:31] joma74 commented on #14
Thank you @dsifford for your support;

Makeing the mentioned bash release http://ftp.gnu.org/gnu/bash/bash-4.4.tar.gz from source locally, the following result nailed it for me.
[code]

[2018-04-25 08:30] kachkaev opened #15 "Support yarn workspaces"
Yarn has [`workspaces`](https://yarnpkg.com/lang/en/docs/workspaces/) feature, which is commonly used to manage monorepos. It lets developers keep multiple npm packages in a single repository and manipulate them from the root folder.

A typical project setup may look like this:

[code]

In root `package.json`:

[code]

`packages/*/package.json` files look like the normal ones, i.e. with their own

[2018-04-25 08:38] kachkaev opened #16 "Scripts completion does not work from a subdirectory"
I noticed that moving to a sub-directory breaks project-specific autocompletion such as for scripts.

`project/package.json`

[code]

[code]

[code]

It'd be great if `yarn-completion` searched for the nearest parent `package.json` if it is not found in `cwd`.

[2018-04-25 14:57] dsifford commented on #15
Thanks for the feedback @kachkaev

I tried giving this a go when adding in the initial support for workspaces, but it ended up being too difficult to do without introducing another dependency for JSON parsing (`jq`, for example).

If you have any ideas on how to go about this, but without using an external dependency or a non-posix command, I'm all for it.

[2018-04-25 14:57] dsifford commented on #16
This seems reasonable. I'll look into it when I get time.

PRs also accepted.

[2018-04-25 15:00] dsifford commented on #15
That said, I don't recall specifically what what so difficult.

It may have been the globbing. Node globbing works differently than bash globbing.

[2018-04-25 15:10] kachkaev commented on #15
Unfortunately I'm not very strong in bash scripts, so am not sure I'll be able to help here. But I guess that having this issue existing and opened may increase a chance of someone to giving  it a go 🙂

BTW what do you need to run `glob`? IMO calling `yarn workspaces info` and parsing JSON is the only right way to go to ensure a 100% correctness – I would not try to search for workarounds. The pac

[2018-04-25 16:12] dsifford commented on #15
Never tried `yarn workspaces info` -- that helps a lot actually. When I wrote the completions for workspaces initially, the commands weren't actually active yet so I wasn't sure what that command would even do. Good stuff.

That sounds good in theory, but in order for bash to parse a completion, it must be written in bash.

Similar completion logic might be written in javascript (e.g. npm's comple

[2018-06-01 10:35] fobdy opened #17 "Doesn't work on Mac with bash 3"
Tab key with yarn string triggers an error after yarn completion installed.

Error:
[code]

[code]

[2018-06-02 00:50] dsifford commented on #17
Known issue.

I don't have the time, energy, or desire to support a 9 year outdated version of bash. Simply upgrade to the latest bash version and your life will be easier for reasons far beyond just autocompletion.

[2018-06-02 00:50] #17 closed

[2018-06-04 22:27] jasonkarns commented on #13
https://github.com/Homebrew/homebrew-core/pull/28645

[2018-06-04 23:15] jasonkarns commented on #13
Sooo... issue...

In order to accepted into homebrew, the formula is supposed to have a non trivial test. I'm using the same test as for other completion scripts currently in homebrew (rails, vagrant), which sources the completion script, runs `complete -p yarn`, and verifies the output is as expected.

Wrinkle: the homebrew tests are run on travis CI using macOS which uses the 3.2 version of bash

[2018-06-05 01:09] dsifford commented on #13
Sure. Start a PR and I'd be happy to merge if everything works and checks out.

[2018-06-05 02:31] jasonkarns commented on #13
PR here: https://github.com/dsifford/yarn-completion/pull/18

[2018-06-05 19:33] jasonkarns commented on #13
Thanks for merging #18. I believe all we need is a new release (brew formulae need to point to specific versions) and we can get this into homebrew!

[2018-06-05 20:04] dsifford commented on #13
Sure, I'll do that in a bit.

Does homebrew have any notion of dependencies between formulae? If possible, to avoid the headache, could we make the package dependent on bash 4?

[2018-06-05 20:54] jasonkarns commented on #13
Having that discussion now on the brew PR. If we declare bash as a dep (which would imply the v4 bash from homebrew itself), it would actually _install_ bash as part of installing yarn-completion. Which would be a bad experience. (Installing yarn-completion and getting an entirely new shell?)

Perhaps it can be noted as a recommended dep? Unsure, still investigating (and checking other completion

[2018-06-05 22:48] dsifford commented on #13
Sounds good. Keep us posted.

Just pushed a release: https://github.com/dsifford/yarn-completion/releases/tag/v0.7.4

[2018-06-12 21:34] joma74 opened #19 "Allow colon in e.g. package fields script"
I often do
[code]
in my package script. Which are never completed properly.
[code]

So i investigated that colon is a special, see http://tiswww.case.edu/php/chet/bash/FAQ  on the E13 case. Looked through your script and saw `COMP_WORDBREAKS="\"'><=;|&(: "`. Which explicitly includes `:`  as a completion word break character. Which might be kind of the opposite this issue is for.

However, if you

[2018-06-12 21:50] joma74 commented on #19
Hm, just saw that that having patched it, it does not complete in the not-run case
[code]
Hm, i don't get it.

[2018-06-12 22:05] dsifford commented on #19
Not sure why you're having these issues and unfortunately, I'm too pressed for time to look into it this week.

One thing I will say though is that I've never had issues with run scripts containing colons completing in any situation (using run, or not). So an easier fix might just be within your own dotfiles.

[2018-06-17 08:45] iddan opened #20 "Support old bash"
I use GNU bash, version 3.2.57(1) and when I complete with your script it works but I get this annoying error: `compopt: command not found`

[2018-06-17 08:46] #20 closed

[2018-08-28 19:12] k opened #21 "support fish"
create fish-ported script for the bash completions and have installation instructions

[2018-08-28 19:14] k commented on #21
hm it looks like someone beat me to it: https://github.com/fish-shell/fish-shell/blob/master/share/completions/yarn.fish

[2018-08-28 19:15] #21 closed

[2018-08-28 20:38] dsifford commented on #21
Glad to hear! PS: Your username is awesome and I'm jealous.

[2018-09-08 20:54] ikornienko commented on #19
I confirm that I always had issues with completion for scripts like `test:watch` where colon is there (just upgraded to the latest version, nothing changed). It's interesting that if I type `yarn test` and press Tab I see all possible options, but once I have `yarn test:` typed then pressing Tab has no effect.

[2018-09-08 21:17] dsifford commented on #19
What's the output of the following command for you @ikornienko

[code]

Also, of note, I just started last night actually slowly putting together a basic test suite for this project. Should be a bit safer and more reliable when I get that finished.

End goal is to also fully support workspaces.

[2018-09-10 02:49] ikornienko commented on #19
@dsifford first of all, thank you for looking into it!

[code]

I'm not an expert and cannot tell right away why `${BASH_COMPLETION_VERSINFO[*]}` is empty. I have `bash-completion` version `1.3_3` installed via homebrew.

I have another entry point that may (or may not) help. In `package.json` scripts I have `framerx:build` and `framerx:bootstrap`. When I type `yarn framerx` completion shows optio

[2018-09-10 02:55] dsifford commented on #19
Noted, thanks for the info.

Can't offer any sound advice until I get a moment to check into this, but one thing I will mention right off the rip is that I'd recommend first checking to be sure you have the correct bash-completion installed from homebrew.

Using bash `^4.x`, the correct one is `bash-completion@2`, **not** `bash-completion`.

Other than that, sit tight until maybe next weekend and

[2018-09-10 03:15] ikornienko commented on #19
Thanks for letting me know about `bash-completion2`, @dsifford, somehow I overlooked it. Ok, now I have

[code]

Hm, you know, I re-read @joma74's comment which says

Since I have `build` dir, I nuked it... and now after typing `yarn framerx:b` completion doesn't offer anything. So the fact that it completed `yarn framerx:build` before was misleading, it actually was inserting dir name.

[2018-09-11 19:45] dsifford commented on #13
Apparently a kind samaritan already went and tackled this back in August.

https://github.com/Homebrew/homebrew-core/blob/master/Formula/yarn-completion.rb

Closing this as resolved. Thanks @DomT4! 🎉

[2018-09-11 19:45] #13 closed

[2018-09-11 20:46] jasonkarns commented on #13
yep! i opened https://github.com/Homebrew/homebrew-core/pull/28645 and it was merged beginning of August.

homebrew PR was noted here: https://github.com/dsifford/yarn-completion/issues/13#issuecomment-394520474

[2018-09-11 21:21] dsifford commented on #13
@jasonkarns is this set to track off of github releases or does someone need to manually go in and update? If the latter, I'll try and make a mental note to do that.

[2018-09-11 21:31] jasonkarns commented on #13
Needs to be manually updated via a PR similar to: https://github.com/Homebrew/homebrew-core/commit/4f418e6d91664f07ec992a6e35206ab08870b6f7

However, homebrew has a command that can automate the PR creation process: `brew bump-formula-pr`

[2018-09-11 21:38] jasonkarns commented on #13
I can open a PR to set up a similar release process here if you like.

[2018-09-11 23:48] dsifford commented on #13
Sounds lovely. Thanks :+1:

[2018-09-22 03:42] dsifford commented on #19
@ikornienko @joma74 Are you both still having issues with this? I have a little bit of time this weekend to maybe look into getting a fix out for this.

@ikornienko if you're still having issues, can you provide me with a minimal `package.json` to test out?

Thanks

[2018-09-22 20:59] ikornienko commented on #19
@dsifford thanks for taking your time to look into it! The repo is here https://github.com/ikornienko/yarn-completion-bug (I've put a description of the behavior I observe on my two machines into the `README.md` file).

[2018-09-22 21:50] dsifford commented on #19
Awesome, thanks. I'll chime back with what I find when I get a chance to dig into it.

[2018-09-25 13:37] dsifford commented on #19
Fix should be out sometime later this week. Working on a big overhaul that tackles several longstanding issues

[2018-09-27 22:55] dsifford commented on #19
@mrmckeb @ikornienko Can you gentlemen give the updated completions a try and let me know if it now works for you? There's a lot more improvements peppered everywhere, but just focus on the colon thing for now.

https://github.com/dsifford/yarn-completion/blob/a1b02af98ac68296b3eaac0db892cf8812a66a0c/yarn-completion.bash

[2018-09-28 16:12] dsifford commented on #19
What system are you running? Can you go through the same steps as @ikornienko if you’re on MacOS?

[2018-09-28 19:06] dsifford commented on #19
Or better yet, just confirm that you have indeed done the steps outlined in the updated [readme](https://github.com/dsifford/yarn-completion/blob/a1b02af98ac68296b3eaac0db892cf8812a66a0c/README.md) (if you're running mac os)

[2018-09-29 09:42] mrmckeb commented on #19
Hi @dsifford, I'm on Windows 10, using WSL. So it's Ubuntu 18.04 with Bash.

I removed all traces of the previous script, and then I ran this:
[code]

It works the same as before, not better, not worse. I still get no autocomplete once I hit a colon.

I'm running `bash-completion@2.8` and `bash@4.4.19`.

[2018-09-29 14:27] dsifford commented on #19
Might be a silly question, but after downloading the file to your computer, you did either source it or log out and log back in, correct?

[2018-09-29 16:28] ikornienko commented on #19
Same for me as for @mrmckeb , nothing really changed after I replaced the old file. And I did it in this way: killed old `yarn completion`, restarted the terminal and checked that `yarn` completion stopped working, then got `https://raw.githubusercontent.com/dsifford/yarn-completion/master/yarn-completion.bash`, restarted the terminal and checked that `yarn` completion works, but the bug is still

[2018-09-29 17:47] dsifford commented on #19
Hm, well that's disappointing..

I can't for the life of me figure out why it works for me on both my desktop (Arch Linux) and my Laptop (Macbook Pro) and not for you guys.

I guess the only other thing I can point to is the following lines from the bash-completion README...

So I suppose the remedy in your cases would be to just stop using colons and instead use dashes or something.

Sorry I coul

[2018-09-29 17:47] #19 closed

[2018-09-29 18:12] dsifford commented on #19
@ikornienko @jasonkarns I was under the assumption that you guys had menu-complete enabled this entire time.

I'm able to reproduce this using the default complete method, but why would anybody prefer that over menu-complete!

Just enable menu-complete! That should fix it for you.

[2018-09-29 18:13] dsifford commented on #19
Add this to your `~/.inputrc`

[code]

[2018-09-29 20:40] ikornienko commented on #19
Thanks for the investigation, @dsifford ! Ok, so it seems like completion after `:` won't work because of `bash-completion`'s limitation / feature. It does work to some degree if one escapes colon (e.g. `yarn test\:` and then triggers the completion through TAB). And this limitation holds for both default and menu-complete method (i.e. even with menu-complete `yarn test:` and pressing TAB won't do

[2018-10-01 07:04] mrmckeb commented on #19
Yes, thanks for the effort @dsifford!

[2018-10-01 23:41] #15 closed

[2018-10-01 23:42] dsifford commented on #13
Just pushed a release @jasonkarns --- what do I do now?

[2018-10-02 13:42] jasonkarns commented on #13
Well, short story (because I haven't gotten the scripts PR open for you yet)...

[code]

That should make the branch in your brew git repo, create a homebrew fork for you (if you don't already have one), push the branch to your fork, and open a PR to bump the formula version.

You can also add a `--dry-run` flag to the brew command if you want to see what it'll do.

[2018-10-02 17:37] dsifford commented on #13
All set https://github.com/Homebrew/homebrew-core/pull/32637

Thanks

[2018-10-18 06:45] martinchristov opened #25 "command not found: completions-yarn"
in my .zshrc I have:
`[[ -f /Users/martin/.config/yarn/global/node_modules/tabtab/.completions/yarn.zsh ]] && . /Users/martin/.config/yarn/global/node_modules/tabtab/.completions/yarn.zsh`

upon typing "yarn" space and tab I get:

yarn _yarn_completion:4: command not found: completions-yarn
_yarn_completion:4: command not found: completions-yarn
_yarn_completion:4: command not found: completions-y

[2018-10-18 06:45] #25 closed

[2018-11-19 05:25] Infiltrator opened #26 "Feature request: support workspaces whose names do not match their directory names"
packages.json:
[code]

packages/bar/package.json:
[code]

Trying completion:
`yarn workspace @foo/bar <TAB>` or `yarn workspace bar <TAB>` gives completion for the root `package.json` instead.

[2018-11-19 05:28] Infiltrator opened #27 "Feature request: support workspaces run through scripts"
package.json:
[code]

Curruntly trying completion:
`yarn bar <TAB>` defaults to file completion in the CWD.

It should instead use the scripts from the workspace's `package.json`.

[2018-11-19 16:41] dsifford commented on #27
Just making sure I'm understanding this correctly. You'd like completion to be able to parse out and then complete directory names in individual scripts, if and only if script refer to a project workspace?

If so, then that's not feasible to add in. Too complex.

[2018-11-19 16:45] dsifford commented on #26
Thanks for the feedback.

Unfortunately, this is not reasonably possible using only posix-compliant bash. This would only be feasible to add if I were able to use something that could parse JSON but, in order to keep this cross-platform and dependency free, I don't have that luxury.

[2018-11-19 16:45] #26 closed

[2018-11-20 22:17] Infiltrator commented on #26
So if there were bash code that could parse JSON, you would be willing to include it?  Would it need to be a full JSON parser or just enough to read `{ "name": "@foo/bar" }` out?

[2018-11-20 22:24] Infiltrator commented on #27
Almost, but not quite.  I would like it to complete using the scripts in the workspace's `package.json` instead of the ones in the root.  It should do this if the script is a `workspace` script.

[2019-01-14 09:11] n1ru4l opened #29 "use package name instead of directory basename for workspace"
I think this are the relevant lines:
https://github.com/dsifford/yarn-completion/blob/f0d517043b7f6d4244b82d57c0a28cacc5d0d08d/yarn-completion.bash#L905

The package name of a workspace package is not always equal to the folder name. E.g. a scoped package `@organisation/foobar` could be located under `packages/foobar`.

`yarn-completion` only completes with `foobar` instead of `@organisation/fooba

[2019-01-14 16:49] dsifford commented on #29
Good point. I'll look into getting this fixed as soon as I get some free time. PRs accepted also.

[2019-01-25 16:53] jgornick commented on #9
I was able to fix this by adding

[code]

in my `.bash_profile` after all bash completions were setup.

I'm running bash 5.x and bash_completions 2.x.

[2019-02-14 17:05] Nxt3 opened #31 "How can we plug this into our own bash autocompletions?"
I've created a function in my `.bash_profile` that I want to include autocompletions from yarn for.

This is what I'm trying:

`complete -o default -o nospace -F _yarn yarnupgrade`

but I get the following error:

`bash: completion: function '_yarn' not found`

Ideally I'd like to only autocomplete the choices output from `yarn upgrade`.

Otherwise, yarn completion works great!

[2019-02-14 17:42] dsifford commented on #31
.bash_profile is loaded before .bashrc so depending on where you have the completions being loaded, your call to `complete` Is likely happening before the completions are sourced.

[2019-02-14 19:24] Nxt3 commented on #31
I'm doing something similar with git: `complete -o default -o nospace -F _git g` and that works fine. It's only the yarn one.

[2019-02-14 19:35] Nxt3 commented on #31
The completions are being loaded in `.bash_profile` as well.

[2019-02-14 20:03] Nxt3 commented on #31
So `_git` is working differently since `git-completion` has nothing to do with `bash-completion@2`.

I'm thinking it's not possible to access the functions defined in your autocompletion globally. 🤔

[2019-02-14 20:03] #31 closed

[2019-02-14 20:05] dsifford commented on #31
Yes it is.

[2019-02-14 20:07] dsifford commented on #31
Here's an example from my dotfiles....

https://github.com/dsifford/.dotfiles/blob/ed2be686ffc689c66814e5891cada8aa70e4bbdd/local/lib/bashrc.d/completion-aliases.sh#L52-L55

[2019-02-14 21:04] Nxt3 commented on #31
Can I ask what that's doing (like, step-by-step)? I've never seen something in bash like that.

[2019-02-14 21:09] dsifford commented on #31
[code]

[2019-02-14 21:10] Nxt3 commented on #31
Awesome. This helped me achieve what I was looking for. Thank you so much!

[2019-03-20 19:03] EdwardDrapkin opened #32 "Feature request: NPM repository autocomplete"
Would be nice if `yarn add re<tab>` completed into react, react-dom, react-router, etc.

[2019-03-20 19:13] dsifford commented on #32
Hi @EdwardDrapkin,

I get the appeal for this definitely, but unfortunately it's not feasible without introducing non-posix dependencies and a significant amount of overhead which is not something I'd be willing to do.

The reason why we're able to complete other types of things (package.json "scripts" for example) is because they're able to be parsed out of a file on your local system without any

[2019-03-20 19:13] #32 closed

[2019-03-24 17:37] takuyahara opened #34 "Colon-contained completion glitches"
When I type a text that contains colon(`:`) and push tab to complete result glitches like this.

[code]

* macOS 10.14.3
* bash 5.0.3

[2019-03-24 18:22] dsifford commented on #34
My laptop is running the same OS and bash version as you list and I don't have this issue. Could be an issue with your bash initialization and/or shell options. Hard to know for sure.

[2019-03-24 20:19] takuyahara commented on #34
Thank you for your hint! I found the solution here.
https://gist.github.com/stecman/6cc2769b135f272b673a#file-bash_completion_fill-sh-L194

[2019-03-24 20:19] #34 closed

[2019-04-09 08:41] borekb opened #35 "Zsh support?"
Hi, I don't know how completions work internally and whether completions for Zsh are something completely different than completions for Bash but it would be awesome if this package worked in both shells. Is that technically possible?

BTW, these Yarn completions are way more advanced than anything else I have seen (for zsh at least), for example, parsing workspaces from `package.json` as per http

[2019-04-09 16:11] dsifford commented on #35
Officially supported zsh completions can be found [here](https://github.com/zsh-users/zsh-completions/blob/master/src/_yarn).

Unfortunately, the completions for bash and zsh are implemented in an entirely different way, so there's no real great way to interop (that I'm aware of).

See #30 for discussion on some issues with parsing workspaces using package.json.

[2019-04-09 17:17] borekb commented on #35
For anyone interested, I managed to make it work this way:

1. Add [this `shopt` script](https://github.com/larz258/Zshopt) somewhere in your $PATH.
2. `autoload bashcompinit && bashcompinit`
3. `source yarn-completion.bash`

![Screenshot 2019-04-09 at 19 16 46](https://user-images.githubusercontent.com/101152/55820701-11e52880-5afc-11e9-9a89-1daff38cf882.png)

[2019-04-11 02:48] dsifford commented on #27
Hey sorry about not getting back with you.

I'm working on an update that should close out #29 that might help you out with this.

I'm not going to support doing what I think you're describing because that's not how workspaces are supposed to function.

You should just be able to call `yarn workspace <workspace-name> run <script-name>` and that should be completed as expected.

[2019-04-11 02:48] #27 closed

[2019-04-11 02:56] #29 closed

[2019-04-12 08:41] borekb commented on #35
@dsifford if you don't mind I'll use this issue to gather pieces of information about the possible Zsh support. (Disclaimer: I know very little about how the completions work internally in either Bash or Zsh so won't probably be able to help myself.)

Current situation:

- At [v0.12.0](https://github.com/dsifford/yarn-completion/releases/tag/v0.12.0), I'm able to run the completions partially with

[2019-04-12 15:27] dsifford commented on #35
@borekb Open up a new issue so others can find it easier. That way we might get lucky and have someone stumble upon it and help.

Re: your disclaimer -- I had no idea how bash completions worked and have never wrote a bash completion script in my life prior to making this one. It's tricky at first to understand, but I'm proof that it's possible. Don't sell yourself short.

[2019-04-12 15:44] borekb commented on #35
If it was writing completions for a single known environment, maybe I could try to do that but this sounds like troubleshooting of some (delicate?) interactions / integrations between Zsh and Bash which I really don't think I'd be capable of 😄.

How about re-opening this issue? "Zsh support" as a title sounds pretty good to me.

[2019-04-12 17:09] dsifford commented on #35
Whoops, sorry... Thought this was the PR I commented on.

Yep, we can reopen this one. :+1:

[2019-05-27 16:49] chenrui333 opened #36 "Version number error with 1.14.0?"
Looks like the latest release is with 1.14.0, but the one before it was 0.13.0.

[2019-06-03 22:00] #36 closed

[2019-06-03 22:01] dsifford commented on #36
Thanks!

[2019-06-05 01:09] chenrui333 opened #37 "Homebrew 0.14.0 upgrade issue"
Relates to: https://github.com/Homebrew/homebrew-core/pull/40647
Build ref: https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/43137/version=mojave/console

Some local failure log
[code]

[2019-06-05 16:21] dsifford commented on #37
These completions require a modern version of bash. Bash 3 (which is the default installed version of bash on mac os) is not supported.

[2019-07-04 10:46] onlined opened #38 "Tests are failing"
OS: Arch Linux
Bash version: 5.0.7 and 4.4.23 both
Yarn version: 1.16.0
yarn-completion version: 0.14.0

Tests are failing with the following output.

[code]

[2019-07-04 14:39] dsifford commented on #38
Not able to reproduce this. It's also building fine in CI, so that makes me wonder if it's a machine issue on your end?

[2019-07-04 18:10] onlined commented on #38
In CI, I couldn't see builds with new version (0.14.0).

[2019-07-04 23:19] dsifford commented on #38
Are you having a specific issue related to the failure in the build that you pasted or you just letting me know that the build failed?

[2019-07-05 09:29] onlined commented on #38
I am just letting you know.

[2019-07-19 14:58] jgornick opened #39 "Workspace package completion"
I'm slightly confused with the features in #30. Was this to support completion after the `run` for a workspace or to provide completion for the `workspace`, or both?

I'm trying to use completion for the `workspace` command: `yarn workspace <TAB>` and it doesn't seem to provide me names of packages.

However, when I use `yarn workspace @foo/bar run <TAB>`, is shows the scripts for that workspace p

[2019-07-19 15:43] dsifford commented on #39
That's strange. Do you have a link to the repository containing these workspaces?

I just tried this on my machine using the [jest repository](https://github.com/facebook/jest) (since that one has workspaces and they're quite complex) and it seemed to work fine.

[2019-07-19 17:56] jgornick commented on #39
@dsifford I just tried on that repository as well and was unable to perform the `workspace <TAB>` completion.

Are there other environment variables that might be affecting this?

I have exported:

[code]

... which removes the `:` from the default value allowing completions with `:` in the names to work (e.g. `yarn build:ts:watch`). The new value evaluates to:

[code]

I did remove the `COMP_WORD

[2019-07-19 18:04] jgornick commented on #39
I turned on `set -x` to see all calls when I press `<TAB>` after `workspace` and here's a snippet when it gets into the yarn workspace code:

[code]

[2019-07-19 18:27] dsifford commented on #39
Just tried jest using my macbook and I'm able to complete workspace names there as well.

The only guess that comes to my mind is that it has something to do with the garbage BSD utilities that come built-in with mac os. Specifically, I think it might have to do with BSD sed.

To confirm this, and if you have homebrew, you could try installing GNU sed (being sure to make sure it's in your PATH aft

[2019-07-19 18:59] jgornick commented on #39
I've updated `sed` and still same issue:

[code]

Any other gnu utils that are being used? Is there anything w/r/t `shopt`s that should be set?

[2019-07-19 19:24] dsifford commented on #39
Very odd... Here's a few things direct from my macbook...

### Machine info

[code]

### Shell options

[code]

### Possibly relevant homebrew packages

[code]

And if all else fails.... my dotfiles: https://github.com/dsifford/.dotfiles

[2019-07-21 01:56] jgornick commented on #39
@dsifford Thanks for helping out with this. I just tried on my macOS machine at home and it works on there. Not that we didn't know this was environmental thing specific to my other macOS machine, but this confirms it for me too. I'll keep this issue posted if I find a solution to why it's not working on my other machine.

Thanks again!

[2019-07-21 01:56] #39 closed

[2019-10-24 15:53] ObserverOfTime opened #40 "Tests fail on latest yarn"
[code]
If there isn't anything else that needs to be changed, I can submit a PR to update the version number.

[2019-10-24 21:27] dsifford commented on #40
Looks like it's just the version number that needs updating.

Sure, that'd be awesome. Thanks.

[2019-10-25 13:38] #40 closed

[2019-10-25 15:46] #38 closed

[2019-10-25 15:46] #37 closed

[2020-02-08 21:17] tbhaxor opened #44 "Add it to bashit"
Will you please add it to the bash-it repository so that we can use it?

[2020-02-09 20:03] dsifford commented on #44
I'm not familiar with bash-it, but the completions are MIT and you're free to do whatever you like with them.

[2020-02-09 20:17] #44 closed

[2020-02-09 20:17] tbhaxor commented on #44
Thanks

[2020-02-23 19:30] jgornick commented on #39
@dsifford I **think** my issue was that my default shell wasn't set for my user on one of my machines.

After running `chsh -s /usr/local/bin/bash`, it seems as if my workspace completions work to get the different workspace packages.

However, when I do: `yarn workspace @jgornick/my-package [tab]`, the tab seems to show available yarn commands and scripts for the root package.json. I would expect

[2020-02-23 23:52] dsifford commented on #39
Yes, unfortunately it's not easily possible to complete the correct set of "scripts" given a workspace just with how the completions are written. If you want to be sure that you have the right "run" scripts being completed for a given workspace, just type `yarn workspace @jgornick/my-package run <tab>` and you'll get the right set.

[2020-02-24 00:57] jgornick commented on #39
Weird, I had tried that and all I get for a completion is:  yarn workspace @jgornick/my-package run [tab] ->`yarn workspace @jgornick/my-package run env`.

Thoughts?

[2020-02-24 01:28] dsifford commented on #39
Not sure. I just tried locally on a clone of [jest](https://github.com/facebook/jest/) and it seemed to work as expected.

I'd start there and make sure it works for you too.

[2020-02-24 18:50] alumni opened #45 "Git-Bash completions"
Placing the completion script in `/usr/share/bash-completion/completions` is not enough. How can I make it work?

[2020-02-24 18:59] alumni commented on #45
Actually, `git-bash` doesn't look there, but it does load everything in `~/bash_completion.d/*.bash`

[2020-02-24 20:22] dsifford commented on #45
Feel free to open a PR to add a note about git bash. :+1:

[2020-05-20 01:11] troywweber7 opened #46 "installing yarn completions under .local/share/bash-completion fails"
I'm uncertain if this issue should be files under bash-completion or on this directory, or possibly somewhere else. I already created an issue under bash-completions so I'm going to paste that link here in case it is actually related to this repo: https://github.com/scop/bash-completion/issues/416

[2020-05-20 02:07] troywweber7 commented on #46
Okay, so after digging around, it was due to my own lack of understanding. I was using `wget` instead of `curl` and misread the `curl` options. Sorry for the bother. Everything seems to be fine.

[2020-05-20 02:07] #46 closed

[2020-06-01 17:15] dkarlovi opened #47 "Targets with a : don't work correctly (special characters require escaping)"
Example (generated by Nest.js CLI):

[code]

Sample:

[code]

[2020-06-01 17:26] dsifford commented on #47
I'm not sure I understand what the error here is.

There is not a `test:coverage` command. That is a valid error.

[2020-06-01 17:32] dkarlovi commented on #47
It was autocompleted, for whatever reason. Notice that `cov` was not offered, for example.

[2020-06-01 17:36] dkarlovi commented on #47
Oh, just figured out why coverage was completed, I have a folder named like that:

[code]

[2020-06-01 17:38] dsifford commented on #47
Did you try the suggestion in the bottom of the readme?

[2020-06-01 17:41] dkarlovi commented on #47
Just now (didn't notice it before). It behaves the same, only the options are presented differently. It would still complete `coverage`, for example.

[2020-06-01 17:44] dsifford commented on #47
Then yeah not sure I'm able to do anything about it. I tried looking into this in the past and came up short.

Happy to hear suggestions though.

[2020-06-01 17:45] dsifford commented on #47
I've got package.json files with a similar convention and have found it not a big deal to do `yarn t<Tab><Tab><Tab>` to get `test:cov` completed.

[2020-06-01 17:56] dkarlovi commented on #47
This looks related: https://stackoverflow.com/a/12495727/672885

[2020-06-01 18:00] dsifford commented on #47
Already do that

https://github.com/dsifford/yarn-completion/blob/2821c67d204bbb6ac9f3d49f04a6d3c100a2a1e3/yarn-completion.bash#L1028

[2020-06-01 18:15] dkarlovi commented on #47
No, this specifically avoids redefining it, quote:

I've checked with Maven, which uses this and the difference is their completion escapes the character:

[code]

[2020-06-01 18:23] dkarlovi commented on #47
Adding the backslash manually does work, I get `test\:cov` completed correctly (but it again removes the backslash).

Escaping special chars like colons, spaced etc would probably fix it without other changes.

[2020-06-25 09:53] gluck opened #49 "Yarn v2/berry support ?"
Yarn v1 being on maintenance mode, it'd be great to support the upcoming v2/berry.

Food for thoughts:
- command list is pretty different
- yarn version is "per-repository"
- the script could either detect the current yarn version to provide proper completion
- or create another branch/script and rely on the user to use the proper one ?

[`yarn --help`](https://github.com/dsifford/yarn-completion/

[2020-06-28 20:32] dsifford commented on #49
Hi @gluck. I've had this in the back of my mind for a while, but I honestly think that v2 is so drastically different than v1 that it would need its own implementation separate from this one.

I don't use v2 personally and don't have much free time these days so I don't think I will be the one to put those together.

I would have loved it if the yarn folks would have supported this on their end. T

[2020-06-28 21:27] gluck commented on #49
Yes, I also think there's only so much you can do on a separate shell script, first class support inside yarn itself would be preferable.
Thanks for the feedback, not sure I'll be the one to pick this task up either.

[2020-06-29 12:02] #49 closed

[2020-06-29 19:01] dsifford commented on #47
Fixed in #48

[2020-06-29 19:01] #47 closed

[2021-08-13 08:24] DamienCassou opened #51 "Excellent work"
Thank you very much. Your project works great. Good job!

[2021-08-13 08:30] DamienCassou opened #52 "Fix build"
The build is currently failing: https://github.com/dsifford/yarn-completion/actions/runs/1067733671.

[2021-08-15 23:33] dsifford commented on #51
Thanks!

[2021-08-15 23:33] #51 closed

[2021-08-15 23:33] dsifford commented on #52
Fixed in 79130427b4f996760077f4d3de4411f1a57a597a

[2021-08-15 23:33] #52 closed

[2022-04-03 11:54] devthejo commented on #49
here is the fix for `yarn workspace` completion for v2/v3: https://github.com/dsifford/yarn-completion/pull/54
;)